/*!
Este CSS foi escrito as 3h da manhã
Portanto, não me responsabilizo por alguma coisa tosca
Se falar mal do código desse site na aula leva -2 pontos :P
 */
body {
	padding-top: 60px;
	padding-bottom: 40px;
}

h2, h3, h4 {color: #468847}

.fixed {
	position: fixed;
	top: 0;
}

section {
	margin-top: 50px;
	padding-bottom: 30px;
}
#aulas {margin-top: 0;}
.nav i {vertical-align: middle;}
.alert ul li {margin: 8px 0;}
.alert i {vertical-align: bottom;}

dd {margin-bottom: 15px;}
.accordion-heading h3 {margin: 0; line-height: 110%}
.accordion-inner h3 {margin-top: 0}

.page-header small {
	vertical-align: middle;
	font-size: 14px;
}

@media (max-width: 480px) {
	.fixed {
		position: static;
		top: auto;
	}
}
@media (max-width: 767px) {
	.fixed {
		position: static;
		top: auto;
	}	
}