/*!
Este CSS foi escrito as 3h da manhã
Portanto, não me responsabilizo por alguma coisa tosca
Se falar mal do código desse site na aula leva -2 pontos :P
 */
body {
	padding-top: 30px;
	padding-bottom: 40px;
	border-top: 10px solid #DFF0D8;
}
h1,
h2,
h3,
h4,
h5,
h6{
	font-weight: normal;
}
h2, h3, h4 {color: #468847}
h1 .pull-right {line-height: 40px }
.fixed {
	position: fixed;
	top: 0;
}

section {
	margin-top: 50px;
	padding-bottom: 30px;
}
#aulas {margin-top: 0;}
.nav i {vertical-align: middle;}
.accordion-inner .btn i  {vertical-align: baseline;}
.alert ul li {margin: 8px 0;}
.alert i {vertical-align: bottom;}

dd {margin-bottom: 15px;}

.accordion-heading .accordion-toggle {padding: 12px 15px; font-size: 21px}
.accordion-heading h3 {margin: 0; line-height: 110%}
.accordion-inner h3 {margin-top: 0}

.page-header small {
	vertical-align: middle;
	font-size: 14px;
}

@media (max-width: 480px) {
	.fixed {
		position: static;
		top: auto;
	}
}
@media (max-width: 767px) {
	.fixed {
		position: static;
		top: auto;
	}	
}